# nixpacks.toml
providers = ["python"]

[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = ["python -m pip install -r backend/requirements.txt"]

[start]
cmd = "gunicorn backend.app.main:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT"
